{{ define "settings" }}
<body>
	{{ template "header" }}
	<div>
		<form role="form" method="POST" action="/settings">
			<div>
				<label>AddressRabbitMQ</label>
				{{if .AddressRabbitMQ}}
				<input type="text" class="form-control" id="AddressRabbitMQ" name="AddressRabbitMQ" value="{{.AddressRabbitMQ}}" /> <br><br>
				{{else}}
				<input type="text" class="form-control" id="AddressRabbitMQ" name="AddressRabbitMQ"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>UseRabbitMQ</label>
				{{if .UseRabbitMQ}}
				<input type="checkbox" class="form-control" id="UseRabbitMQ" name="UseRabbitMQ" checked /> <br><br>
				{{else}}
				<input type="checkbox" class="form-control" id="UseRabbitMQ" name="UseRabbitMQ"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>ElasticSearchAdress9200</label>
				{{if .ElasticSearchAdress9200}}
				<input type="text" class="form-control" id="ElasticSearchAdress9200" name="ElasticSearchAdress9200" value="{{.ElasticSearchAdress9200}}" /> <br><br>
				{{else}}
				<input type="text" class="form-control" id="ElasticSearchAdress9200" name="ElasticSearchAdress9200"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>ElasticSearchAdress9300</label>
				{{if .ElasticSearchAdress9300}}
				<input type="text" class="form-control" id="ElasticSearchAdress9300" name="ElasticSearchAdress9300" value="{{.ElasticSearchAdress9300}}" /> <br><br>
				{{else}}
				<input type="text" class="form-control" id="ElasticSearchAdress9300" name="ElasticSearchAdress9300"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>ElasticSearchIndexName</label>
				{{if .ElasticSearchIndexName}}
				<input type="text" class="form-control" id="ElasticSearchIndexName" name="ElasticSearchIndexName" value="{{.ElasticSearchIndexName}}" /> <br><br>
				{{else}}
				<input type="text" class="form-control" id="ElasticSearchIndexName" name="ElasticSearchIndexName"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>AddressRedis</label>
				{{if .AddressRedis}}
				<input type="text" class="form-control" id="AddressRedis" name="AddressRedis" value="{{.AddressRedis}}" /> <br><br>
				{{else}}
				<input type="text" class="form-control" id="AddressRedis" name="AddressRedis"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>AddressMongoBD</label>
				{{if .AddressMongoBD}}
				<input type="text" class="form-control" id="AddressMongoBD" name="AddressMongoBD" value="{{.AddressMongoBD}}" /> <br><br>
				{{else}}
				<input type="text" class="form-control" id="AddressMongoBD" name="AddressMongoBD"  /> <br><br>
				{{end}}
			</div>

			<div>
				<label>DataBaseType</label>
				<select id="DataBaseType" name="DataBaseType" class="form-control">
					{{if .DataBaseType}}
					<option value="{{.DataBaseType}}">{{.DataBaseType}}</option>
					{{else}}
					
					{{end}}
					<option value="MongoDB">MongoDB</option>
					<option value="Redis">Redis</option>
					<option value="DemoRegime">DemoRegime</option>
				  </select>

			</div>

			<button type="submit" class="btn btn-default">Submit</button>
		</form>

</div>
</body>
{{end}}
